[submodule "Assets/Deer/AssetsHotfix/TensUpRes"]
	path = Assets/Deer/AssetsHotfix/TensUpRes
	url = http://gitlab.drunker.cc/Drunker/TensUpRes.git
[submodule "Assets/Deer/Scripts/Hotfix/HotfixTensUp"]
	path = Assets/Deer/Scripts/Hotfix/HotfixTensUp
	url = http://gitlab.drunker.cc/Drunker/TensUp.git
